<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>care</title>
    <link rel="stylesheet" href="../css/together.css"/>  
</head>

<body>
  <section class="container">
    <div class="before" style="background-color: lightskyblue;">
      <button class="prev_btn"
      onclick="location.href='/lifecategory'"
      >이 전</button></div>
        <div class="main_left">
          <a href="/lifecategory/care/info">정보</a>
          </div>
          <div class="main_center">
            <div onclick="location.href='/'"  >
              <img src="../img/kiosk2.png" alt="중앙이미지" />
            </div>
          </div>
          <div class="main_right">
            <a href="/lifecategory/care/application">신청서</a>
          </div>
    </section>
</body>

</html>