* {
  background-color: lightskyblue;
  list-style: none;
  text-decoration: none;
}

html,
body {

  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

.container {
  text-align: center;
  margin-top: 5%;
  font-size: 2rem;
  font-weight: bold;
}

.container ul {
  margin-top: 100px;
}
.container li {
  margin-top: 30px;
  margin-right: 40px;
}
.container li a {
  text-align: center;
  margin-top: 40px;
  color: black;

}

p {
  margin-bottom: 150px;
  font-weight: bold;
  color: white;
}

#notLoggedIn a,
#loggedIn a {
  display: inline;
  text-decoration: none;
  color: black;
  width: 200px;
  height: 100px;
  background-color: white;
  margin: 70px;
  border-radius: 9px;
  padding: 20px;
  font-weight: bold;
}

#loggedIn form input {
  position: absolute;
  top: 20px;
  width: 150px;
  height: 50px;
  margin-left: 600px;
  background-color: white;
  border-radius: 9px;
  font-weight: bold;
  font-size: 20px;
  border-color: white;
  border: 1px
}
* {
  list-style: none;
}