html,
body {
    background-color: lightskyblue;
}

* {
    box-sizing: border-box;
}

.wrap {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
    font-weight: bold;
}

.title {
    font-weight: bold;
    width: 1000px;
    height: 60px;
    font-size: 24px;
    border: 1px solid lightblue;
    border-radius: 6px;
    background-color: white;
    text-align: center;
    line-height: 60px;
}

.content {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    width: 1000px;
    height: 300px;
    font-size: 20px;
    border: 1px solid lightblue;
    border-radius: 6px;
    font-weight: bold;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    font-weight: 500;
}

#likeButton,
#unlikeButton {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 9px;
    background-color: white;
    font-weight: bold;
    margin-left: 10px;
    border: 1px;
}

.box .post {
    margin-bottom: 6px;
}

#delete {
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 9px;
    background-color: white;
    margin-top: 16px;
    font-weight: bold;
    border: 1px;
}

#update {
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 9px;
    background-color: white;
    margin-top: 16px;
    margin-left: 20px;
    font-weight: bold;
    border: 1px;
}

.wrap2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
}

#commentContent {
    margin-left: 3px;
    width: 900px;
    height: 100px;
    font-size: 20px;
    border: 1px solid lightblue;
    border-radius: 6px;
    padding: 10px;
}
#commentForm {
    display: flex;
}
#commentForm button {
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    border: 1px;
    margin-left: 10px;
}

.coment {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
}
.coment p {
    background-color: white;
    border-radius: 9px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.coment button {
    border-radius: 9px;
    border: 1px;
    background-color: white;
    width: 50px;
    height: 30px;
    font-weight: bold;
}