<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 보기</title>
</head>
<body>

<!-- 로그인되지 않은 경우 -->
<div id="notLoggedIn">
    <p>게스트로 접속하셨습니다. 더 많은 기능을 사용하려면 로그인해주세요.</p>
    <a href="/user/login">로그인</a>
    <a href="/user/register">회원가입</a>

</div>

<!-- 게시글 전체 목록 (로그인 여부와 상관 없이 보여짐) -->
<ul id="postList">
    <li th:each="post : ${posts}">
        <a th:href="@{/board/{id}(id=${post.id})}" th:text="${post.title}"></a>
    </li>
</ul>

<!-- 로그인된 경우 -->
<div id="loggedIn" style="display: none;">
    <p>환영합니다, [유저이름]님!</p>
    <a href="/user/logout">로그아웃</a>
    <a href="/board/create">게시글 작성하기</a>
    <a th:href="@{/board/{id}/update(id=${post != null ? post.id : ''})}">게시글 수정하기</a>
    <a th:href="@{/board/{id}/delete(id=${post != null ? post.id : ''})}" onclick="return confirm('정말 삭제하시겠습니까?');">게시글 삭제하기</a>

</div>

<script>
    fetch("/board/isAuthenticated")
    .then(response => response.json())
    .then(data => {
        if (data) {
            document.getElementById('loggedIn').style.display = 'block';
            document.getElementById('notLoggedIn').style.display = 'none';
        } else {
            document.getElementById('loggedIn').style.display = 'none';
            document.getElementById('notLoggedIn').style.display = 'block';
        }
    })
    .catch(error => console.error('Error:', error));
</script>

</body>
</html>
