<!Doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elgineer</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/ui.css" />
  </head>
  <body>
    <section class="health_wrap">
      <div class="health_top">
        <button onclick="location.href='./edu1'">
          스마트폰 <br />글자크기 조절
        </button>
        <button onclick="location.href='./edu2'">
          스마트폰<br />
          배경화면 변경
        </button>
        <button onclick="location.href='./edu3'">
          스마트폰<br />
          알람설정
        </button>
        <button onclick="location.href='./edu4'">
          스마트폰<br />
          화면밝기 조절
        </button>
      </div>
      <div class="health_bottom">
        <button onclick="location.href='./edu5'">카카오택시 호출</button>
        <button onclick="location.href='./edu6'">
          카카오톡<br />글자크기 조절
        </button>
        <button onclick="location.href='./edu7'">키오스크 체험어플</button>
      </div>
    </section>
  </body>
</html>
