<!Doctype html>

<html xmlns:th="http://www.thymeleaf.org"> <!-- thymeleaf 문법을 사용하기 위해 선언 -> th 로 www.thyleaf.org 를 연결-->
<head>
    <title>건강 관련 복지</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
</head>

<body>
<div class="container">
    <div>
        <h1>건강 복지</h1>
        <p>건강 복지 목록</p>
        <p>
            <a href="/healthhome/dementia">치매 관련 복지</a>
            <a href="/healthhome/recuperation">노인 장기요양 보험 복지</a>
            <a href="/healthhome/exercise">노인 운동 강화 복지</a>
            <a href="/healthhome/implant">틀니, 임플란트 건강보험 복지</a>
            <a href="/healthhome/surgery">무릎관절 수술비 지원 복지</a>
            <a href="/healthhome/vaccination">예방접종 복지</a>
        </p>
    </div>
</div> <!--- /container End ---->

</body>
</html>