<!Doctype html>

<html xmlns:th="http://www.thymeleaf.org"> <!-- thymeleaf 문법을 사용하기 위해 선언 -> th 로 www.thyleaf.org 를 연결-->
<head>
    <title>틀니, 인플란트 건강보험 복지</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/ui.css" />
</head>

<body>
<section class="health_wrap">
    <div class="health_top">
        <button onclick="location.href='/healthhome/implant/question'">
            틀니, 인플란트 <br/>건강보험 복지 안내
        </button>
        <button onclick="location.href='/healthhome/map'">
            시,군,구청 위치 찾기
        </button>
    </div>
</section>
</body>
</html>