<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elgineer</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/ui.css" />
  </head>
  <body>
    <section class="health_wrap">
      <div class="health_top">
        <button onclick="location.href='/healthhome/dementia'">
          치매 관련 복지
        </button>
        <button onclick="location.href='/healthhome/recuperation'">
          노인 장기요양<br />
          보험 복지
        </button>
        <button onclick="location.href='/healthhome/exercise'">
          노인 운동 강화 복지
        </button>
        <button onclick="location.href='/healthhome/implant'">
          틀니, 임플란트<br />
          건강보험 복지
        </button>
      </div>
      <div class="health_bottom">
        <button onclick="location.href='/healthhome/surgery'">
          무릎관절 수술비<br />
          지원 복지
        </button>
        <button onclick="location.href='/healthhome/vaccination'">
          예방접종 복지
        </button>
        <button onclick="location.href='/healthhome/hospital'">보건소위치</button>
      </div>
    </section>
  </body>
</html>
