<!Doctype html>

<html xmlns:th="http://www.thymeleaf.org"> <!-- thymeleaf 문법을 사용하기 위해 선언 -> th 로 www.thyleaf.org 를 연결-->
<head>
    <title>노인 예방접종 복지</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/ui.css" />
</head>

<body>
<section class="health_wrap">
    <div class="health_top">
        <button onclick="location.href='/healthhome/vaccination/question'">
            노인 예방접종<br/> 복지 안내
        </button>
        <button onclick="location.href='/healthhome/map'">
            보건소 위치 찾기
        </button>
    </div>
</section>
</body>
</html>