<!Doctype html>

<html xmlns:th="http://www.thymeleaf.org"> <!-- thymeleaf 문법을 사용하기 위해 선언 -> th 로 www.thyleaf.org 를 연결-->
<head>
    <title>치매 관련 복지</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
</head>

<body>
<div class="container">
    <div>
        <h1>치매 복지</h1>
        <p>치매 복지 목록</p>
        <p>
            <a href="/healthhome/dementia/question">치매 관련 복지</a>
            <a href="/healthhome/dementia/find">우리동네자조모임</a>
            <a href="/healthhome/map">자조모임 위치 찾기</a>
        </p>
    </div>
</div> <!--- /container End ---->

</body>
</html>