<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elgineer</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/ui.css" />
  </head>
  <body>
    <section class="main">
      <div class="main_left">
        <button onclick="location.href='/life.html'">생활복지</button>
        <button onclick="location.href='/health'">건강복지</button>
      </div>
      <div class="main_center">
        <img src="/img/kiosk.jpeg" alt="중앙이미지" />
      </div>
      <div class="main_right">
        <button onclick="location.href='/edu'">교육복지</button>
        <button onclick="location.href='/board'">게시판</button>
      </div>
    </section>
  </body>
</html>
