<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>life</title>
    <link rel="stylesheet" href="../css/lifecategory.css"/>
</head>

<body>
    <div class="before" style="background-color: lightskyblue;">
        <button style="
        color:white; background-color: blue; 
        position:fixed;
        top: 20px;    
        left: 15px;
        width: 130px; height: 60px; font-size: 20px; font-weight:bold; border-radius: 30px;
        border: 1px solid blue;"
        onclick="location.href='../index'"
        >이 전</button></div>
    <section class="container">
        <div class="main_top">
            <button onclick="location.href='../lifecategory/together'">복지제도</button >
            <button onclick="location.href='../lifecategory/guarantee'">기초생활 <br />보장제도</button>
            <button onclick="location.href='../lifecategory/pension'">기초연금</button>
        </div>
        <div class="main_center" onclick="location.href='../index'">
            <img src="../img/kiosk2.png" alt="중앙이미지" />
        </div>
        <div class="main_bottom">
            <button onclick="location.href='../lifecategory/work'">일자리지원 <br />사업</button>
            <button onclick="location.href='../lifecategory/care'">맞춤돌봄 <br /> 서비스</button>
            <button onclick="location.href='../lifecategory/alarm'">응급 안전 <br />안심 서비스</button>
        </div>
    </section>
</body>

</html>