<!DOCTYPE html>
<html>

<head>
    <title>로그인</title>
    <link rel="stylesheet" href="../css/login.css"/>
</head>
<body>
<div class="wrap">
    <h2>로그인</h2>

    <form action="/user/login" class="login_box" method="post">
        <li class="pannel" style="display: block;">
            <div class="pannel_inner">
                <div class="id_row">
                    <input type="text" name="username" class="input_text" required placeholder="아이디">
                </div>
                <div class="ps_row">
                    <input type="password" name="password" class="input_text" required placeholder="비밀번호">
                </div>
            </div>
            <button type="submit" class="btn_login"><span class="btn_text">로그인</span></button>
        </li>
    </form>
</div>
</body>

</html>