<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>게시글 작성</title>
  <link rel="stylesheet" href="../css/create.css"/> 
</head>

<body>
  <div th:if="${loggedIn}" class="wrap">
    <h1 style="text-align: center; color: #fff;" >게시글 작성</h1>
    <div class="board_main" style="text-align: center;">
    <form action="/board" method="post">
      <div style="margin-bottom: 10px;">
        <label for="title" class="b_title">제목:</label>
        <input type="text" id="title" name="title" placeholder="제목을 입력해주세요.">
      </div>
      <div  >
        <label for="content" class="b_content">내용:</label>
        <textarea id="content" name="content" placeholder="글을 작성해주세요."></textarea>
      </div>
      <button type="submit" class="submit">작성하기</button>
    </form>
  </div>
  </div>

</body>

</html>