<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>게시글 수정</title>
</head>
<body>

<div th:if="${post}">
  <h1>게시글 수정</h1>

  <form th:action="@{/board/update/} + ${post.id}" method="post">
    <input type="hidden" name="_method" value="put">

    <div>
      <label for="title">제목:</label>
      <input type="text" id="title" name="title" th:value="${post.title}">
    </div>
    <div>
      <label for="content">내용:</label>
      <textarea id="content" name="content" rows="10" cols="50" th:value="${post.content}"></textarea>
    </div>
    <div>
      <button type="submit">게시글 수정하기</button>
    </div>
  </form>
</div>

</body>
</html>
