<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>게시글 상세</title>
    <link rel="stylesheet" href="../css/details.css"/> 
</head>

<body data-post-id="${post.id}">
<div class="wrap">
    <button style=" color:white; 
    background-color: blue; 
    position:fixed;
    top: 20px;    
    left: 15px;
    width: 130px; 
    height: 60px; 
    font-size: 20px; 
    font-weight:bold; 
    border: 1px solid blue;
    border-radius: 30px;"
    onclick="location.href='/board'">이전</button>
    <div class="title" th:text="${post.title}">안녕하세요</div>
    <div class="content" th:text="${post.content}">
    </div>
</div>

    <!-- 로그인한 사용자와 게시글 작성자가 동일한 경우에만 수정 및 삭제 버튼 표시 -->
    <div class="post" th:if="${loggedInUserNickname == post.writer}">
        <!-- 게시글 수정 -->
        <a th:href="@{'/board/update/' + ${post.id}}"><button id="update">게시글 수정</button></a>
        <!-- 게시글 삭제 -->
        <button id="delete" onclick="deletePost(`${post.id}`)">게시글 삭제</button>
    </div>
</div>



<!-- 댓글 작성 폼 -->
<div class="wrap2">
    <form id="commentForm">
        <textarea name="content" id="commentContent" placeholder="댓글을 입력하세요."></textarea>
        <button type="submit" onclick="addComment()">댓글 작성</button>
    </form>
</div>

<!-- 댓글 목록 -->
<div class="comment" th:each="comment : ${comments}">
    <p th:text="${comment.content}"></p>

    <!-- 로그인한 사용자와 댓글 작성자가 동일한 경우에만 수정 및 삭제 버튼 표시 -->
    <div th:if="${loggedInUserNickname == comment.writer}">

        <!-- 댓글 수정 -->
        <button style="margin-left: 10px;" onclick="showEditBox(this)">수정</button>
        <div class="edit-box" style="display: none;">
            <textarea th:text="${comment.content}"></textarea>
            <button th:onclick="'showEditBox(this); updateComment(this, ' + ${comment.id} + ')'">저장</button>
        </div>

        <!-- 댓글 삭제 -->
        <button th:onclick="'deleteComment(' + ${comment.id} + ')'">삭제</button>

    </div>
</div>

<script>
    const postId = [[${post.id}]]

    function handleResponse(response) {
        if (!response.ok) {
            if (response.status === 204) { // 204 No Content 응답을 고려
                return;
            }
            return response.text().then(text => {
                throw new Error(text);
            });
        }
        const contentType = response.headers.get("Content-Type");
        if (contentType && contentType.includes("application/json")) {
            return response.json();
        }
    }


    function deletePost(postId) {
        const confirmDelete = confirm("게시글을 삭제하시겠습니까?");
        if (confirmDelete) {
            fetch(`/board/${postId}/delete`, {
                method: 'DELETE'
            })
            .then(handleResponse)
            .then(() => {
                window.location.href = "/board";
            })
            .catch(error => {
                alert(error.message);
            });
        }
    }

    document.getElementById("commentForm").addEventListener('submit', function(e) {
        e.preventDefault(); // 폼의 기본 제출 동작 중지

        const content = document.querySelector('textarea[name="content"]').value;

        fetch(`/board/comments/${postId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ content: content })
        })
        .then(response => {
            if (response.ok) {
                location.reload(); // 성공하면 페이지 리로드
            } else {
                return response.text().then(text => {
                    throw new Error(text);
                });
            }
        })
        .catch(error => {
            alert(error.message);
        });
    });


    function showEditBox(button) {
        const editBox = button.nextElementSibling;
        editBox.style.display = 'block';
    }

    function updateComment(button, commentId) {
        const editedContent = button.previousElementSibling.value;
        fetch(`/board/comments/${commentId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ content: editedContent })
        })
        .then(handleResponse)
        .then(() => {
            location.reload();
        })
        .catch(error => {
            alert(error.message);
        });
    }

    function deleteComment(commentId) {
        const confirmDelete = confirm("댓글을 삭제하시겠습니까?");
        if (confirmDelete) {
            fetch(`/board/comments/${commentId}`, {
                method: 'DELETE'
            })
            .then(handleResponse)
            .then(() => {
                location.reload();
            })
            .catch(error => {
                alert(error.message);
            });
        }
    }

</script>

</body>

</html>